<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="log\internal-nlog-AspNetCore.txt">

	<!-- Set absolute path to root of project -->
	<!-- target files are not created with relative path-->
	<variable name="logDirectory" value="c:\temp" />

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="allfile" fileName="${var:logDirectory}\nlog-AspNetCore-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
		<target xsi:type="File" name="ownFile-web" fileName="${var:logDirectory}\nlog-AspNetCore-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<target  xsi:type="File" name="structured-file" fileName="${var:logDirectory}\nlog-AspNetCore-structured-${shortdate}.log">
			<layout xsi:type="JsonLayout" includeEventProperties="true">
				<attribute name="Time" layout="${longdate}"/>
				<attribute name="Level" layout="${level:uppercase=true}"/>
				<attribute name="ProcessId" layout="${processid}"/>
				<attribute name="ThreadId" layout="${threadid}"/>
				<attribute name="Logger" layout="${logger}"/>
				<attribute name="Message" layout="${message}"/>
				<attribute name="Exception" layout="${exception:format=@}"/>
			</layout>
		</target>

		<!-- Logging to Seq log analyzer -->
		<!-- beware the intentional spaces in the following command -->
		<!-- This is because XML comments does not like any double hyphen in the comment text -->
		<!-- docker run - -name seq - -rm -e ACCEPT_EULA=Y -v c:\temp:/data -p 5341:80 datalust/seq:latest -->
		<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
			<target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="" />
		</target>

		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile, seq" />
		

		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />

		<logger name="*" minlevel="Warning" writeTo="structured-file" />
	</rules>
</nlog>